archiv
.vscode
__MACOSX
checkpoints
local_codebases
data
simple_mml_baseline
wandb
sweep_yamls/outputs
sweep_yamls/wandb
outputs
visualization_scripts
udm
sweep_yamls
test_runs
test_runs_missingness
unimodal_sweep_yamls
unimodal_test_runs
codefiles/datasets/kinetics
codefiles/datasets/synthetic
codefiles/datasets/mysterymml
codefiles/datasets/vision_touch
codefiles/datasets/vgg_sound
codefiles/lightningdatamodules/kinetics
codefiles/lightningdatamodules/synthetic
codefiles/lightningdatamodules/mysterymml
codefiles/lightningdatamodules/vision_touch
codefiles/lightningdatamodules/vgg_sound
codefiles/lightningmodules/kinetics
codefiles/lightningmodules/synthetic
codefiles/lightningmodules/mysterymml
codefiles/lightningmodules/vision_touch
codefiles/lightningmodules/vgg_sound
debug
debug2
wandb_csvs
# Python bytecode
__pycache__/
*.py[cod]
*$py.class